#eventForm .form-control-feedback {
    top: 0;
    right: -15px;
}

//datetimepicker calendar

.form-group {
    margin-bottom: 15px;
    margin-top: 10px;
}

.modifybooking {
	margin-bottom: 15px;
	margin-top: 10px;
}

.modifybooking-computer {
	margin-bottom: 15px;
	margin-top: 10px;
}

.modifybooking-room {
	margin-bottom: 15px;
	margin-top: 10px;
}

.modifybooking-user {
	margin-bottom: 15px;
	margin-top: 10px;
}

.seach-user {
	margin-bottom: 15px;
	margin-top: 10px;
}

.seach-pc {
	margin-bottom: 15px;
	margin-top: 10px;
}